torch==1.*
requests==2.23.0
protobuf<4.21.3
tensorboard==2.4.1
pandas==1.1.4
coremltools==4.1
onnx==1.9.0
onnx-simplifier==0.3.6
tensorflow==2.4.1
tensorflowjs==3.9.0
pyyaml==5.*
Pillow==8.4.0
tqdm==4.*
torchvision==0.*
seaborn==0.*
opencv-python==4.*
matplotlib==3.* re
numpy==1.*
scipy==1.*
scikit-learn==0.19.2
thop>=0.1.1
